---
import { getCollection, render } from "astro:content";
import dayjs from "dayjs";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const atprotoPosts = await getCollection("atprotoBlog");
  return [...posts, ...atprotoPosts].map((post) => ({
    params: { slug: post.data.path?.slice(1) ?? post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, description, banner } = post.data;
const { Content } = await render(post);
const dateFmt = dayjs(post.data.publishedAt ?? post.data.date).format(
  "DD MMM YYYY",
);
---

<BaseLayout pageSubtitle={title} description={description}>
  <div class="py-8">
    <h1 class="font-semibold text-3xl">{title}</h1>
    {
      description && (
        <h2 class="text-lg text-zinc-700 dark:text-zinc-300 font-medium">
          {description}
        </h2>
      )
    }
    <p class="text-sm text-zinc-500 pt-4">
      {dateFmt}
    </p>
  </div>
  {banner && <img src={banner} class="max-h-full rounded-lg shadow-md" />}
  <br />
  <div class="prose dark:prose-invert lg:prose-md">
    <Content />
  </div>
</BaseLayout>
