---
import { getCollection } from "astro:content"
import { Icon } from "astro-icon/components"
import dayjs from "dayjs"
import BaseLayout from "../layouts/BaseLayout.astro"

const posts = await getCollection("blog")
const postsSorted = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  })

const projects = await getCollection("projects")
---

<BaseLayout>
  <div class="py-4 sm:py-8 mb-8">
    <h1 class="text-xl font-semibold py-2">Hi, I'm Chris.</h1>
    <p class="text-md">
      I am the CTO of <a href="https://bluefin.one">Bluefin Clinical</a>, a
      startup building a platform for clinical trial supply management. In my
      spare time, I like to produce
      <a href="https://open.spotify.com/artist/6Nf6EjiUG7gYxcyHbrsvgs">music</a>
      and work on <a href="https://github.com/chrisvander"
        >personal and open-source projects</a
      >.
    </p>
  </div>
  {
    postsSorted.length > 0 && (
      <h1 class="text-xl font-semibold mb-2">Posts</h1>
      <hr class="border-slate-300 dark:border-slate-500" />
      <div class="py-4 pb-8 text-base">
        {postsSorted.map((post) => (
          <div class="flex">
            <span class="flex-none w-28 sm:w-40 md:w-56 text-slate-600 dark:text-slate-400 inline-block">
              {dayjs(post.data.date).format("DD MMM YYYY")}
            </span>
            <span class="text-bold">
              <a
                href={`posts/${post.slug}`}
                class="text-black dark:text-white font-semibold"
              >
                {post.data.title}
              </a>
            </span>
          </div>
        ))}
      </div>
    )
  }
  <h1 class="text-xl font-semibold mb-2">Projects</h1>
  <hr class="border-slate-300 dark:border-slate-500" />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-4 pb-8">
    {
      projects.map(({ data: { title, link, repo, description, language } }) => (
        <div class="flex flex-col md:p-3 h-full space-y-2 rounded-md md:border md:border-slate-200 dark:border-slate-600">
          <div class="flex flex-row items-center justify-between">
            <h2 class="font-semibold text-lg">
              <a href={repo}>{title}</a>
            </h2>
            {link && (
              <a href={link}>
                Link{" "}
                <Icon name="akar-icons:link-out" class="inline-block h-4" />
              </a>
            )}
          </div>
          <p class="flex-1">{description}</p>
          <p class="text-sm text-slate-600 dark:text-slate-400 pt-1">
            {language}
          </p>
        </div>
      ))
    }
  </div>
</BaseLayout>
