---
const { pageSubtitle, pageTrailingTitle, containerClass, description } = {
  pageSubtitle: "Portfolio",
  pageTrailingTitle: " - Christian van der Loo",
  containerClass: "max-w-screen-md px-4 sm:px-12 mx-auto pb-24",
  description: "My website and blog.",
  ...Astro.props,
}
const title: string = Astro.props.title ?? pageSubtitle + pageTrailingTitle

import Header from "../components/Header.astro"
import "../base.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-XBQ2CE5VRZ"
      type="text/partytown"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-XBQ2CE5VRZ");
    </script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="og:description" property="og:description" content={description} />
    <meta name="og:title" property="og:title" content={title} />
    <slot name="head" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS Feed">
    <title>{title}</title>
  </head>
  <body class="dark:bg-slate-900 dark:text-white">
    <div class="max-w-screen-md mx-auto">
      <Header />
    </div>
    <div class={containerClass}>
      <slot />
    </div>
    <div class="h-24 flex items-center justify-center">
      <span class="italic text-gray-500"></span>
    </div>
  </body>
</html>
