---
import BaseLayout from "./BaseLayout.astro";
import { Icon } from "astro-icon";
import moment from "moment";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  description?: string;
  date: string;
  banner?: string;
  borderless?: boolean;
}>;

const { frontmatter, url } = Astro.props;
const { title, author, description, date, banner, borderless } = frontmatter;
const dateObj = moment(new Date(date));
const dateFmt = dateObj.format("MMMM Do, Y");
---

<BaseLayout containerClass={""} pageSubtitle={title}>
  <div class="max-w-screen-lg mx-auto px-4 sm:px-12">
    <a
      href="/blog"
      class="text-slate-500 hover:text-slate-500 flex space-x-2 md:pt-4 items-center flex-row hover:underline"
    >
      <Icon name="akar-icons:arrow-left" class="h-5" /><span>All Posts</span>
    </a>
    <p class="pb-2 pt-6 md:pt-16 text-sm text-slate-500 opacity-80">
      {dateFmt}
    </p>
    <h1 class="font-bold text-4xl">{title}</h1>
    {description && <h2 class="text-2xl font-normal py-2">{description}</h2>}
    <p class="text-slate-500 pb-8 pt-4">
      By {author || "Christian van der Loo"}
    </p>
  </div>
  {
    banner && (
      <div
        class={
          (borderless ? "max-h-[50vh] " : "p-8 ") +
          "overflow-hidden bg-neutral-50 dark:bg-inherit flex justify-center items-center"
        }
      >
        <img
          src={banner}
          class={borderless ? "max-h-full" : "mx-auto max-h-[70vh] rounded-2xl"}
        />
      </div>
    )
  }
  <br />
  <div class="max-w-screen-lg px-4 sm:px-12 mx-auto prose lg:prose-lg">
    <slot />
  </div>
</BaseLayout>
